global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["127.0.0.1:9090"]

  - job_name: "mimock-metrics"
    metrics_path: "/api/mimock/monitoring/prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["host.docker.internal:8080"] # Hostname is supported only for DEV docker instance
