{
	"presets": ["@babel/preset-react", "@babel/preset-env"],
	"plugins": [
		["@babel/transform-runtime"],
		["jsx-control-statements"],
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"styles": "./src/styles/components",
					"api": "./src/api",
					"assets": "./src/assets",
					"components": "./src/components"
				}
			}
		]
	]
}
