{
	"presets": ["@babel/preset-react", "@babel/preset-env"],
	"plugins": [
		["@emotion"],
		["@babel/transform-runtime"],
		["jsx-control-statements"],
		[
			"module-resolver",
			{
				"root": ["./src"],
				"alias": {
					"src": "./src",
					"styles": "./src/styles/components",
					"api": "./src/api",
					"services": "./src/api/services",
					"assets": "./src/assets",
					"components": "./src/components",
					"hooks": "./src/hooks",
					"atoms": "./src/atoms",
					"constants": "./src/constants",
					"utils": "./src/utils",
					"mocks": "./src/__mocks__"
				}
			}
		],
		[
			"prismjs",
			{
				"languages": ["javascript", "json"],
				"plugins": ["line-numbers"],
				"theme": "solarizedlight",
				"css": true
			}
		]
	]
}
