name: Mimock Bundle App Pipeline

on: [workflow_dispatch]

jobs:
  bundle-app:
    name: Bundle spring-boot app with UI
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build Mimock app
        run: |
          make bundle-app

      - name: Build platform bundles
        run: |
          cp -p ./mimock-backend/target/mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.jar ./installation/lib/mimock.jar

          cd ./installation
          zip -r mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.zip lib/*
          cd .. && mv ./installation/mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.zip .
          zip -ju mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.zip installation/*.bat installation/mimock.properties installation/psql_setup.sql

          tar czf mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.tar.gz --directory=installation lib start mimock.properties setup_database psql_setup.sql

      - name: Publish JAR
        uses: actions/upload-artifact@v2
        with:
          name: mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}-jar.zip
          path: |
            ./mimock-backend/target/mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.jar

      - name: Publish Linux Bundle
        uses: actions/upload-artifact@v2
        with:
          name: mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.tar.gz
          path: |
            mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.tar.gz

      - name: Publish Windows Bundle
        uses: actions/upload-artifact@v2
        with:
          name: mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.zip
          path: |
            mimock-${{ secrets.MIMOCK_CURRENT_VERSION }}.zip

  hold-release:
    name: Wait for review
    needs: bundle-app
    runs-on: ubuntu-latest
    environment:
      name: mimockRelease

    steps:
      - name: Wait for reviewer to initiate the release
        run: |
          echo "Awaiting Review!"

  push-docker-image:
    name: Push Docker image to Docker Hub
    needs: hold-release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Build JAR bundle-app
        working-directory: mimock-backend
        run: |
          ./mvnw -ntp clean package -P packageJar -Dmaven.test.skip=true

      - name: Build mimock docker image
        run: |
          docker build -t mimock:slim . -f ./Dockerfile.slim
          docker tag mimock:slim mimock:${{ secrets.MIMOCK_CURRENT_VERSION }}-slim

          docker build -t mimock:latest . -f ./Dockerfile.complete
          docker tag mimock:latest mimock:${{ secrets.MIMOCK_CURRENT_VERSION }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: mimock/mimock

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ secrets.MIMOCK_CURRENT_VERSION }},latest,${{ secrets.MIMOCK_CURRENT_VERSION }}-slim
